node_modules/
.pnpm-store/
.DS_Store
*.log
release/
assets/skins/*
!assets/skins/robot/
!assets/skins/robot/**
!assets/skins/cat/
!assets/skins/cat/**
!assets/skins/manga-female/
!assets/skins/manga-female/**
