node_modules/
.pnpm-store/
.DS_Store
*.log
release/
assets/skins/*
!assets/skins/robot/
!assets/skins/robot/**
!assets/skins/cat/
!assets/skins/cat/**
!assets/skins/manga-female/
!assets/skins/manga-female/**
!assets/skins/dragon/
!assets/skins/dragon/**
!assets/skins/d20-rpg/
!assets/skins/d20-rpg/**
!assets/skins/space-helmet/
!assets/skins/space-helmet/**
!assets/skins/classic-googly/
!assets/skins/classic-googly/**
!assets/skins/detective-noir/
!assets/skins/detective-noir/**
!assets/skins/one-eye/
!assets/skins/one-eye/**
!assets/skins/tibetan-monk/
!assets/skins/tibetan-monk/**
!assets/skins/alien/
!assets/skins/alien/**
!assets/skins/hacker/
!assets/skins/hacker/**
!assets/skins/anonymous/
!assets/skins/anonymous/**
!assets/skins/ice-hockey/
!assets/skins/ice-hockey/**
!assets/skins/clown/
!assets/skins/clown/**
!assets/skins/cyberpunk-female/
!assets/skins/cyberpunk-female/**
!assets/skins/spy/
!assets/skins/spy/**
!assets/skins/skeleton/
!assets/skins/skeleton/**
!assets/skins/wizard/
!assets/skins/wizard/**
!assets/skins/cowboy/
!assets/skins/cowboy/**
!assets/skins/pumpkin-halloween/
!assets/skins/pumpkin-halloween/**
!assets/skins/goblin/
!assets/skins/goblin/**
!assets/skins/troll/
!assets/skins/troll/**
assets/skins/troll/*.png
!assets/skins/troll/thumbnail.png
